#Build directory
build/

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

#vscode settings
.vscode

#Visual Studio
.vs

#Cogli2 folder
cogli2/


#Configurations
Configurations/

#Output data files
Data/

ExampleConfigurations/
ConfigurationsCreator/
